$mainColor: #0b9de0;
$mainFamily: "Mulish", sans-serif;

.bookingTour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 270px;
    margin-right: 70px;
    margin-top: 85px;

    .menu-box {
        border-radius: 50px;
        margin: 0 0 0px 0;
        box-sizing: border-box;
        max-width: 1293px;
        z-index: 11;
        background-color: #0b9de0;
        box-shadow: rgba(102, 102, 102, 0.24) 0px 3px 8px;

        .menu-tab {
            margin: 0 20px;
        }
    }

    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
        font-family: $mainFamily;
        font-size: 15.5px;
        font-weight: 800;
        color: #ffffff;
    }

    .css-1aquho2-MuiTabs-indicator {
        height: 3px;
        background-color: #ffffff;
    }

    .css-ptiqhd-MuiSvgIcon-root {
        width: 25px;
        height: 25px;
        color: #ffffff;
    }

    .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
        font-family: $mainFamily;
        font-weight: 700;
        font-size: 13px;
        color: #ececec;
    }

    .filter {
        margin: 30px 0;
        display: flex;
        justify-content: space-evenly;

        .label-filter {
            text-align: center;
            font-size: 16px;
            font-family: $mainFamily;
            font-weight: 700;
            margin-bottom: 10px;
        }

        .css-j204z7-MuiFormControlLabel-root {
            margin-left: -4px;
            .css-ahj2mt-MuiTypography-root {
                font-size: 14px;
                font-family: $mainFamily;
                font-weight: 600;
            }
        }

        .filter-price {
            width: 330px;
            padding: 5px 20px 0px 20px;
            border-radius: 10px;
            background-color: #fff;
            // border: 1px solid #68cfff;
            box-shadow: rgba(164, 164, 164, 0.12) 0px 2px 4px 0px, rgba(158, 158, 158, 0.32) 0px 2px 16px 0px;

            .slider {
                padding: 5px 0px;
                margin-left: 5px;
                margin-bottom: 10px;

                .css-nnid7-MuiSlider-valueLabel {
                    font-size: 12px;
                }
            }

            .price-text {
                text-align: center;
                font-family: $mainFamily;
                color: #606060;
                font-weight: 700;

                display: flex;
                align-items: center;
                justify-content: center;

                .icon {
                    font-size: 22px;
                    color: #008dce;
                }

                .value {
                    width: 120px;
                    border: 1px solid #d2d2d2;
                    border-radius: 3px;
                    padding: 3px 0px;
                    margin: 0 7px;
                    font-size: 15px;
                }
            }
        }

        .filter-departure {
            width: 330px;
            padding: 5px 20px 0px 20px;
            border-radius: 10px;
            background-color: #fff;
            // border: 1px solid #68cfff;
            box-shadow: rgba(164, 164, 164, 0.12) 0px 2px 4px 0px, rgba(158, 158, 158, 0.32) 0px 2px 16px 0px;

            .departure {
                padding-left: 5px;
                padding-top: 10px;
                position: relative;

                .icon-calendar {
                    position: absolute;
                    top: 25px;
                    right: 5px;
                    color: #606060;
                    font-size: 20px;
                    user-select: none;
                    pointer-events: none;
                }

                .react-datepicker-wrapper {
                    margin-top: 10px;
                    .react-datepicker__input-container {
                        input {
                            outline: none;
                            width: 290px;
                            font-family: $mainFamily;
                            font-size: 16px;
                            font-weight: 700;
                            color: #5b5b5b;
                            padding: 5px 10px;
                            border-radius: 4px;
                            border: 1px solid #c0c0c0;
                        }
                    }
                }

                .react-datepicker-popper {
                    padding-bottom: 15px;

                    .react-datepicker {
                        font-size: 15px;
                        border: 0px solid #b1b1b1;

                        button {
                            margin-top: 4px;
                        }

                        .react-datepicker__month-container {
                            width: 270px;
                            height: 270px;
                            padding: 0px 5px;
                            box-shadow: 1px 1px 10px #bbbbbb;
                            border-radius: 5px;
                            border: 0px solid #0b9de0;

                            .react-datepicker__header {
                                font-family: $mainFamily;
                                background-color: #fff;
                                padding-top: 10px;

                                .react-datepicker__current-month {
                                    font-size: 16px;
                                    color: #0b9de0;
                                    font-weight: 800;
                                }

                                .react-datepicker__day-names {
                                    .react-datepicker__day-name {
                                        margin: 15px 10px 10px 9px;
                                        color: #4a4a4a;
                                        font-weight: 700;
                                    }
                                }
                            }

                            .react-datepicker__month {
                                .react-datepicker__week {
                                    .react-datepicker__day {
                                        margin: 3px 5px;
                                        padding-top: 4px;
                                        padding-bottom: 0px;
                                        padding-right: 1px;
                                        width: 25px;
                                        height: 25px;

                                        font-family: $mainFamily;
                                        border-radius: 50px;
                                        font-size: 13.5px;
                                    }

                                    .react-datepicker__day--selected {
                                        background-color: #0b9de0;
                                        color: #fff;
                                        font-weight: 600;
                                        transition: ease-in-out 0.1s;
                                    }

                                    .react-datepicker__day:hover {
                                        background-color: #0b9de0;
                                        color: #fff;
                                        font-weight: 600;
                                        transition: ease-in-out 0.1s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .filter-time {
            width: 330px;
            padding: 10px 20px 0px 20px;
            border-radius: 10px;
            background-color: #fff;
            // border: 1px solid #68cfff;
            box-shadow: rgba(164, 164, 164, 0.12) 0px 2px 4px 0px, rgba(158, 158, 158, 0.32) 0px 2px 16px 0px;

            .time {
                text-align: center;
                .button-group {
                    margin-top: 20px;
                    box-shadow: none;

                    button {
                        font-family: $mainFamily;
                        font-family: 700;
                        border: 0px solid #008dce;
                        padding: 5px 0px;
                    }
                    .button-click {
                        padding: 0 0;
                        border-radius: 50px;
                        font-size: 17px;
                        // background-color: #05a3ed;
                    }
                    .btn-value {
                        border-radius: 50px;
                        width: 155px;
                        background-color: #fff;
                        color: #5b5b5b;
                        font-weight: 800;
                        font-size: 16px;

                        span {
                            text-transform: lowercase;
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    .sort-tours {
        margin-bottom: 10px;
        margin-top: 0px;
        display: flex;
        justify-content: right;

        .toggle-button-group {
            button {
                color: #4a4a4a;
                font-size: 13px;
                font-family: $mainFamily;
                font-weight: 800;
                padding: 7px 10px;
            }

            .css-17pma60-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
                color: #ef0404;
                background-color: #f6f6f6;
            }
        }
    }

    .empty-tourList {
        padding: 30px 0;
        background-color: #fff;
        text-align: center;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 15px;
        p {
            font-family: $mainFamily;
            font-weight: 700;
            font-size: 23px;
            margin: 0 0;
            color: #606060;
        }

        img {
            margin-top: 20px;
            width: 500px;
            height: 300px;
        }
    }

    table {
        border: 1px solid $mainColor;
        border-collapse: collapse;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 1px 1px 15px #dcdcdc;
        padding: 0 0px;
        margin-bottom: 30px;

        .text-center {
            text-align: center;
        }

        .text-left {
            text-align: left;
        }

        thead {
            tr {
                th {
                    background-color: #0b9de0;
                    color: #fff;
                    font-weight: 800;
                    font-size: 17px;
                    font-family: $mainFamily;
                    padding: 15px 15px 15px 15px;
                }
            }
        }

        tbody {
            tr {
                &:hover {
                    background-color: #f6f6f6;
                }

                td {
                    font-family: $mainFamily;
                    font-weight: 600;
                    font-size: 16px;
                    padding: 18px 10px 18px 10px;

                    .button-view {
                        color: #0079b2;
                        font-weight: 700;
                        font-family: $mainFamily;

                        .icon-view {
                            font-size: 20px;
                        }
                    }

                    .buttons-group {
                        border-radius: 10px;
                        button {
                            padding: 5px 0px;
                            font-family: $mainFamily;
                            font-weight: 800;
                            font-size: 12px;
                            width: 90px;
                            border-radius: 10px;
                        }
                        .button-accept {
                            background-color: #32a948;
                        }

                        .button-decline {
                            background-color: #ef392f;
                        }
                    }
                }

                .departure-day {
                    // color: #ef392f;
                    font-weight: 600;
                }

                .name-tour {
                    width: 370px;
                    max-width: 370px;
                    color: #0079b2;
                    font-weight: 700;
                }
                .total-payment {
                    padding-left: 55px;
                    font-weight: 700;
                    color: #ef392f;
                    display: flex;
                    align-items: center;
                    color: #efab00;
                    padding-top: 25px;

                    .icon-coin {
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .pagination-list {
        margin-top: 30px;
        display: flex;
        justify-content: right;

        .pagination {
            ul {
                li {
                    .css-1scal0h-MuiPaginationItem-root {
                        font-size: 18px;
                        font-weight: 700;
                    }

                    button {
                        font-family: $mainFamily;
                        font-size: 17px;
                        font-weight: 700;
                        background-color: #fff;
                        margin: 0 10px;

                        .css-n8417t-MuiSvgIcon-root-MuiPaginationItem-icon {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .css-1jkhw7p-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
                        background-color: #e74c3c;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.dialog {
    .appbar {
        position: fixed;
        background-color: $mainColor;
        padding-left: 0px;

        .toolbar {
            .close-icon {
                color: #fff;
                font-size: 22px;
            }
            .typography {
                font-size: 18px;
                font-family: $mainFamily;
                font-weight: 700;
            }

            .btn-accept {
                width: 100px;
                color: #32a948;
                padding: 4px 10px;
                font-size: 14px;
                font-family: $mainFamily;
                font-weight: 800;
                background-color: #fff;
            }
            .btn-decline {
                width: 100px;
                color: #ef392f;
                padding: 4px 10px;
                font-size: 14px;
                font-family: $mainFamily;
                font-weight: 800;
                background-color: #fff;
            }
        }
    }

    .detail-booking {
        padding: 90px 70px 0 70px;

        .infor-booking {
            display: flex;
            justify-content: space-between;

            .infor-item {
                display: flex;
                align-items: center;
                font-family: $mainFamily;
                font-weight: 600;
                font-size: 17px;

                .label {
                    margin-right: 10px;
                    color: #0079b2;
                    font-weight: 800;
                }

                .button-status {
                    font-family: $mainFamily;
                    font-weight: 800;
                    background-color: #e7ffed;
                    color: #32a948;
                    padding: 5px 10px;
                    border-radius: 50px;
                    outline: none;
                    border: 0px solid #0079b2;
                }

                .price {
                    color: #ef392f;
                    font-size: 18px;
                    font-weight: 800;
                }
            }
        }

        .line {
            margin-top: 30px;
            border: 1px solid #e9e9e9;
        }

        .infor-details {
            display: flex;
            justify-content: space-between;
            margin-top: 0px;
            margin-bottom: 10px;

            p {
                color: #0079b2;
                border-left: 4px solid #0079b2;
                padding-left: 10px;
                padding-top: 3px;
                padding-bottom: 3px;
                font-family: $mainFamily;
                font-size: 19px;
                font-weight: 700;
                margin-top: 20px;
            }

            table {
                margin-top: 5px;
                tbody {
                    tr {
                        font-family: $mainFamily;
                        font-size: 16px;
                        font-weight: 600;

                        td {
                            padding: 10px 30px 5px 0px;
                            max-width: 400px;
                        }
                    }
                }
            }
        }
    }
}
