$mainColor: #0b9de0;
$mainFamily: "Mulish", sans-serif;

p {
    margin: 0 0;
}

.share-posts {
    padding-top: 90px;
    padding-left: 210px;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;

    .tab {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navigation-menu {
            width: 500px;
            border-radius: 50px;
            background-color: #0b9de0;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            button {
                border-radius: 50px;
                .css-imwso6-MuiBottomNavigationAction-label {
                    color: #e8e8e8;
                    font-family: $mainFamily;
                    font-size: 17px;
                    font-weight: 700;
                }

                .css-imwso6-MuiBottomNavigationAction-label.Mui-selected {
                    font-weight: 800;
                    color: #fff;
                    font-size: 18px;
                }
            }
        }

        .css-16lloyr-MuiBottomNavigation-root {
            height: 45px;
        }

        .search-tour {
            position: relative;
            right: 25px;

            .textfield-search {
                width: 350px;
                height: 42px;
                padding: 0px 15px;
                font-family: $mainFamily;
                font-weight: 600;
                font-size: 15px;
                outline: none;
                border-radius: 5px;
                border: 2px solid #0b9de0;
            }

            label {
                position: absolute;
                top: 0px;
                right: 0px;
                background-color: #0b9de0;
                color: #fff;
                height: 42px;
                width: 42px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .search-icon {
                font-size: 30px;
            }
        }
    }

    .posts-list {
        margin: 5px 0 0 0;
        padding: 0 0;
        list-style-type: none;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;

        li {
            width: 400px;
            height: 490px;
            max-height: 490px;
            margin: 15px 17px 15px 0;
            position: relative;

            .card {
                box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                padding-bottom: 0;

                .card-action-area {
                    .card-content {
                        padding-bottom: 10px;
                        .typography-title {
                            color: #0b9de0;
                            font-family: $mainFamily;
                            font-size: 17px;
                            font-weight: 700;
                            height: 45px;
                            max-height: 45px;

                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }
                        .typography-content {
                            text-align: justify;
                            width: 365px;
                            max-width: 365px;

                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;
                            font-family: $mainFamily;
                            font-weight: 600;
                            font-size: 15px;
                            margin-top: 5px;
                        }
                    }

                    .author {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        img {
                            width: 37px;
                            height: 37px;
                            border-radius: 50px;
                            margin-right: 10px;
                        }

                        p {
                            font-family: $mainFamily;
                            font-size: 15px;
                            font-weight: 700;
                            color: #656565;
                        }
                    }
                }

                .card-actions {
                    display: flex;
                    justify-content: space-between;
                    padding-left: 15px;
                    padding-right: 15px;

                    .datetime-post {
                        display: flex;
                        align-items: center;
                        font-size: 15px;
                        font-family: $mainFamily;
                        font-weight: 700;
                        color: orangered;

                        .icon-accesstime {
                            font-size: 18px;
                            margin-right: 5px;
                            color: orangered;
                        }
                    }

                    button {
                        width: 90px;
                        padding: 2px 0px;
                        font-family: $mainFamily;
                        font-size: 14px;
                        font-weight: 800;
                        border-width: 2px;
                        margin: 0 0px 0 10px;
                    }
                }

                .typography-control {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .comment-time {
                        display: flex;
                        align-items: center;

                        span {
                            font-family: $mainFamily;
                            font-weight: 800;
                            font-size: 16px;
                            color: #0b9de0;
                        }
                        .icon {
                            font-size: 24px;
                            color: #0b9de0;
                            margin-left: 2px;
                        }
                    }

                    .favorite-time {
                        display: flex;
                        align-items: center;
                        margin-right: 25px;

                        span {
                            font-family: $mainFamily;
                            font-weight: 800;
                            font-size: 16px;
                            color: #ff0090;
                        }
                        .icon {
                            font-size: 24px;
                            color: #fd008f;
                            margin-left: 2px;
                        }
                    }
                }
            }
        }
    }
}

.dialog-view-posts {
    // overflow-y: hidden;
    overflow-x: hidden;

    .dialog-title {
        text-align: center;
        background-color: #0b9de0;
        color: #fff;
        font-family: $mainFamily;
        font-size: 19px;
        font-weight: 700;
        padding: 10px 0;
    }

    .dialog-content {
        padding: 10px 15px;
        // overflow-y: hidden;
        overflow-x: hidden;
        // background-color: rgba(118, 118, 118, 0.1);

        .header-form {
            display: flex;
            align-items: center;
            margin: 15px 0;

            .avatar {
                margin-right: 10px;
                width: 50px;
                height: 50px;
                border-radius: 50px;
            }
            .user {
                display: flex;
                flex-direction: column;

                .user-name {
                    font-family: $mainFamily;
                    font-size: 16px;
                    font-weight: 700;
                }

                .permission {
                    display: flex;
                    align-items: center;
                    font-family: $mainFamily;
                    font-size: 13px;
                    font-weight: 600;

                    .icon-permission {
                        font-size: 16px;
                        margin-right: 5px;
                    }
                }
            }
        }

        .body-form {
            .image-label {
                position: relative;
                text-align: center;
                margin: 30px 0;

                .button-upload-image {
                    padding: 0 0;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    border-radius: 50px;
                    box-shadow: none;
                    background-color: #fff;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

                    .cameraIcon {
                        font-size: 25px;
                        color: #0b9de0;
                    }
                }

                img {
                    width: 560px;
                    height: 315px;
                    border-radius: 2px;
                }
            }

            .label-posts {
                input {
                    width: 560px;
                    padding: 0px 0px;
                    outline: none;
                    border: 0px solid #0b9de0;
                    border-bottom: 1px solid #979797;
                    font-family: $mainFamily;
                    font-size: 18px;
                    font-weight: 700;
                    color: #006d9f;
                }
                p {
                    font-family: $mainFamily;
                    font-size: 18px;
                    font-weight: 700;
                    color: #006d9f;
                }
            }

            .content-posts {
                // margin: 30px 0;
                margin-top: 0px;

                textarea {
                    outline: none;
                    border: 0px solid #006d9f;
                    width: 560px;
                    font-family: $mainFamily;
                    font-size: 16px;
                    font-weight: 600;
                }

                .details-view {
                    font-family: $mainFamily;
                    font-size: 15px;
                    font-weight: 600;
                    text-align: justify;
                    line-height: 25px;
                }
            }

            .interact-posts {
                display: flex;
                justify-content: space-between;
                padding: 20px 15px 0 15px;

                .interact-item {
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .interact-checkbox {
                        padding: 3px 3px;

                        .interact-icon {
                            font-size: 25px;
                            color: #0b9de0;
                        }

                        .favorite-icon {
                            font-size: 25px;
                            color: #ff006a;
                        }
                    }

                    .interact-value {
                        font-family: $mainFamily;
                        font-weight: 600;
                        font-size: 14px;
                    }
                }
            }

            .comments-posts {
                border-top: 1px solid #cecece;

                margin: 10px 15px 0px 15px;
                padding: 5px 0 0 0;

                .comment-list {
                    display: flex;
                    flex-direction: column;

                    .comment-item {
                        display: flex;
                        margin: 10px 0 0 0;

                        .avatar-comment {
                            width: 35px;
                            height: 35px;
                            border-radius: 50px;
                        }
                        .content-comment {
                            margin-left: 10px;
                            background-color: #f5f5f5;
                            padding: 7px 10px 10px 10px;
                            border-radius: 15px;

                            p {
                                margin: 0 0;
                                font-family: $mainFamily;
                                font-size: 14.5px;
                            }

                            .user {
                                font-weight: 700;
                            }

                            .detail {
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }

                        .interact-comment {
                            margin-left: 20px;
                            margin-top: 0px;

                            .time {
                                font-family: $mainFamily;
                                font-weight: 700;
                                font-size: 13px;
                                color: #7b7b7b;
                            }
                        }
                    }
                }

                .comment-field {
                    display: flex;
                    align-items: center;
                    margin-top: 20px;
                    position: relative;

                    .avatar-user {
                        width: 35px;
                        height: 35px;
                        border-radius: 50px;
                        margin-right: 10px;
                    }

                    .text-field {
                        outline: none;
                        width: 560px;
                        padding: 7px 15px;
                        border: 0px solid #979797;
                        background-color: #f1f1f1;
                        border-radius: 50px;

                        font-family: $mainFamily;
                        font-size: 15px;
                        font-weight: 500;
                    }

                    .send-icon {
                        position: absolute;
                        right: 15px;
                        font-size: 19px;
                        color: #0092d5;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    .dialog-actions {
        button {
            padding: 5px 0;
            width: 140px;
            font-family: $mainFamily;
            font-size: 14.5px;
            font-weight: 800;
        }
    }
}
