$mainColor: #0b9de0;
$mainFamily: "Mulish", sans-serif;

.header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 200px;
    background-color: #fff;
    box-shadow: 5px 1px 10px #b1b1b1;
    z-index: 12;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .header-label {
        display: flex;
        align-items: center;
        padding: 0 0 0 20px;

        span {
            font-family: $mainFamily;
            font-weight: 800;
            margin: 0 5px;
            color: $mainColor;
        }

        .icon {
            font-size: 23px;
            padding-top: 4px;
        }

        .label {
            font-weight: 800;
            font-size: 23px;
        }
    }

    .header-control {
        position: fixed;
        right: 20px;
        height: 60px;

        display: flex;
        align-items: center;

        .menu {
            display: flex;
            margin: 0 30px 0 0;
            padding: 0 0;
            li {
                list-style-type: none;
                margin: 0 10px;

                .icon {
                    font-size: 21px;
                }
            }
        }

        .account {
            img {
                width: 42px;
                height: 42px;
                border-radius: 50px;
                transition: ease-in-out 0.2s;

                &:hover {
                    cursor: pointer;
                    transition: ease-in-out 0.2s;
                    transform: scale(1.07);
                }
            }

            .dropdown-account {
                visibility: hidden;
                padding: 5px 10px;
                position: fixed;
                right: 10px;
                border-radius: 10px;
                box-shadow: 1px 1px 10px #bebebe;
                background-color: #0b9de0;

                li {
                    list-style-type: none;
                    display: flex;
                    align-items: center;
                    color: #fff;
                    padding: 0px 7px 0px 7px;
                    margin: 5px 0;
                    border-radius: 50px;
                    font-weight: 600;

                    &:hover {
                        cursor: pointer;
                        background-color: #fff;
                        color: #0b9de0;
                    }

                    span {
                        margin: 5px 5px;
                    }

                    .icon {
                        font-size: 18px;
                        padding-top: 5px;
                    }

                    .label {
                        font-weight: 600;
                        font-size: 15px;
                    }
                }
            }

            &:hover {
                .dropdown-account {
                    visibility: visible;
                }
            }
        }
    }
}

.account-menu {
    .menu-item {
        color: #666666;
        font-size: 16px;
        font-family: $mainFamily;
        font-weight: 700;

        .icon {
            font-size: 20px;
        }
    }

    .logout-option {
        color: #d50b00;

        .icon {
            color: #d50b00;
        }
    }
}
