$mainColor: #0b9de0;
$mainFamily: "Mulish", sans-serif;

.calendar-guide {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-top: 100px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    // justify-content: space-between;

    .accordion-date {
        margin: 0 0 20px 0;
        box-shadow: 1px 1px 8px #9c9c9c;
        border-radius: 5px;
        // width: 580px;

        .typography {
            font-size: 16px;
            font-family: $mainFamily;
            font-weight: 600;
        }
        .accordion-summary {
            .typography {
                padding-top: 7px;
                padding-bottom: 7px;
                font-size: 17.5px;
                font-weight: 700;
                color: #ea1f08;
                display: flex;
                align-items: center;

                // .typography-tour {
                //     width: 60%;
                // }

                .list-guide {
                    position: absolute;
                    right: 10px;
                }

                span {
                    font-size: 16.5px;
                    padding-right: 7px;
                    font-weight: 700;
                    color: #525252;
                }
            }
        }
        .accordion-details {
            padding: 0 0 0 20px;
        }
    }

    .accordion-tour {
        border: 0px solid #0784be;
        border-radius: 5px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;

        .typography {
            font-size: 16px;
            font-family: $mainFamily;
            font-weight: 600;
        }
        .accordion-summary {
            .typography {
                font-size: 16.5px;
                font-weight: 700;
                color: #057cb3;
            }
        }
        .accordion-details {
            padding: 10px 0 10px 20px;
            display: flex;
            justify-content: space-between;

            .details-tour {
                border-collapse: collapse;

                tbody {
                    tr {
                        td {
                            padding: 4px 0 4px 20px;
                            font-family: $mainFamily;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        .label {
                            font-weight: 600;
                            color: #0470a2;
                        }
                        .content {
                            padding-left: 10px;
                        }
                    }
                }
            }

            img {
                margin-right: 10px;
                width: 150px;
                height: 90px;
                border-radius: 5px;
                box-shadow: 1px 1px 5px #9c9c9c;
            }
        }
    }
}

.guides-submit {
    padding-top: 90px;
    padding-left: 13%;
    padding-right: 13%;
    height: 100%;
    background-image: url("https://res.cloudinary.com/phtuandev/image/upload/v1657607532/GoTravel/background_hahalolo_euqfgv.svg");
    background-size: cover;

    .guides-submit-details {
        // background-color: rgba(255, 255, 255, 0.5);
        // box-shadow: 1px 1px 10px #9c9c9c;
        border-radius: 10px;
        padding: 20px 20px;

        .accordion {
            border-radius: 7px;
            .typography {
                font-size: 16px;
                font-family: $mainFamily;
                font-weight: 600;
            }
        }

        .details-tour {
            // box-shadow: 1px 1px 10px #272727;
            border: 2px solid #0495d8;
            .accordionSummary {
                .typography {
                    display: flex;
                    justify-content: space-between;
                    font-weight: 700;

                    .name-tour {
                        color: #0470a2;
                        font-size: 18px;
                    }
                    .departure {
                        position: absolute;
                        right: 50px;
                        span {
                            color: #ea1f08;
                        }
                    }
                }
            }

            .accordionDetails {
                .typography {
                    text-align: justify;
                    padding-left: 40px;
                    padding-right: 40px;

                    .table-infor {
                        display: flex;

                        .table-item {
                            width: 500px;

                            table {
                                tr {
                                    td {
                                        padding-top: 5px;
                                        padding-bottom: 5px;
                                    }
                                }

                                .label {
                                    padding: 0 0;
                                    color: #016796;
                                }

                                .content {
                                    padding-left: 30px;
                                }
                            }
                        }
                    }

                    .schedule-tour {
                        margin-top: 30px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .accordion {
                            width: 480px;
                            border: 1px solid #bebebe;
                            padding: 0px 0px;

                            .accordionSummary {
                                .typography {
                                    padding: 0px 0px;
                                    color: #ea1f08;
                                    font-weight: 700;
                                }
                            }

                            .accordionDetails {
                                padding-top: 0;
                                padding-bottom: 10px;
                                .typography {
                                    padding-left: 10px;
                                    font-size: 15px;
                                    table {
                                        tbody {
                                            tr {
                                                td {
                                                    font-size: 14px;
                                                    text-align: left;
                                                    padding: 5px 0;
                                                }

                                                .label {
                                                    color: #016796;
                                                    width: 100px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .guides-list {
        border-radius: 7px;
        margin-top: 30px;
        padding: 0 30px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .accordion {
            width: 500px;
            margin: 20px 0;
            border: 1px solid #dbdbdb;
            box-shadow: 1px 1px 6px #cccccc;

            .accordion-summary {
                .css-o4b71y-MuiAccordionSummary-content {
                    margin: 8px 0;
                }
                .typography {
                    display: flex;
                    align-items: center;
                    font-family: $mainFamily;
                    font-weight: 700;
                    color: #016796;

                    span {
                        margin-left: 20px;
                        font-size: 17px;
                    }
                }
            }

            .accordion-details {
                .typography {
                    font-family: $mainFamily;
                    font-size: 15px;
                }
                .delete-button {
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    .icon {
                        color: #ea1f08;
                        font-size: 22px;
                    }
                }
            }
        }
    }
}
