$mainColor: #0b9de0;
$mainFamily: "Mulish", sans-serif;

.calendar-guide {
    margin-top: 90px;
    margin-left: 210px;
    display: flex;
    flex-direction: column;
    font-family: $mainFamily;
    font-size: 16px;
    font-weight: 600;
}
