$mainColor: #0b9de0;
$mainFamily: "Mulish", sans-serif;

.calendar-guide {
    display: flex;
    justify-content: center;
    margin-left: 250px;
    margin-top: 60px;
    margin-right: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;

    .filter-calendar-guide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        .label-filter {
            font-family: $mainFamily;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 5px;
        }

        .filter-departure {
            padding-left: 5px;
            padding-top: 10px;
            position: relative;

            .icon-calendar {
                position: absolute;
                top: 65px;
                right: 10px;
                color: #0784be;
                font-size: 20px;
                user-select: none;
                pointer-events: none;
            }

            .react-datepicker-wrapper {
                margin-top: 0px;

                .react-datepicker__input-container {
                    input {
                        outline: none;
                        width: 350px;
                        font-family: $mainFamily;
                        font-size: 17px;
                        font-weight: 700;
                        color: #5b5b5b;
                        padding: 8px 10px;
                        border-radius: 4px;
                        border: 2px solid #0b9de0;
                    }
                }
            }

            .react-datepicker-popper {
                padding-bottom: 15px;

                .react-datepicker {
                    font-size: 15px;
                    border: 0px solid #b1b1b1;

                    button {
                        margin-top: 4px;
                    }

                    .react-datepicker__month-container {
                        width: 350px;
                        height: 300px;
                        padding: 0px 5px;
                        box-shadow: 1px 1px 10px #bbbbbb;
                        border-radius: 5px;
                        border: 0px solid #0b9de0;

                        .react-datepicker__header {
                            font-family: $mainFamily;
                            background-color: #fff;
                            padding-top: 10px;

                            .react-datepicker__current-month {
                                font-size: 16px;
                                color: #0b9de0;
                                font-weight: 800;
                            }

                            .react-datepicker__day-names {
                                .react-datepicker__day-name {
                                    margin: 15px 15px 10px 10px;
                                    color: #4a4a4a;
                                    font-weight: 700;
                                }
                            }
                        }

                        .react-datepicker__month {
                            .react-datepicker__week {
                                .react-datepicker__day {
                                    margin: 5px 9px;
                                    padding-top: 4px;
                                    padding-bottom: 0px;
                                    padding-right: 1px;
                                    width: 25px;
                                    height: 25px;

                                    font-family: $mainFamily;
                                    border-radius: 50px;
                                    font-size: 15px;
                                }

                                .react-datepicker__day--selected {
                                    background-color: #0b9de0;
                                    color: #fff;
                                    font-weight: 600;
                                    transition: ease-in-out 0.1s;
                                }

                                .react-datepicker__day:hover {
                                    background-color: #0b9de0;
                                    color: #fff;
                                    font-weight: 600;
                                    transition: ease-in-out 0.1s;
                                }
                            }
                        }
                    }
                }
            }
        }

        .search-tour {
            position: relative;

            .textfield-search {
                margin-top: 55px;
                width: 350px;
                height: 42px;
                padding: 0px 15px;
                font-family: $mainFamily;
                font-weight: 600;
                font-size: 15px;
                outline: none;
                border-radius: 5px;
                border: 2px solid #0b9de0;
            }

            label {
                position: absolute;
                top: 55px;
                right: 0px;
                background-color: #0b9de0;
                color: #fff;
                height: 42px;
                width: 42px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .search-icon {
                font-size: 30px;
            }
        }
    }

    .select-all {
        .label {
            font-family: $mainFamily;
            font-weight: 700;
            font-size: 16px;
            color: #ea1f08;
        }
    }

    .empty-list {
        margin-top: 22px;
        text-align: center;
        background-color: #fff;
        border-radius: 15px;
        padding: 15px 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
            rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

        .notifications {
            font-family: $mainFamily;
            font-weight: 700;
            font-size: 20px;
            color: #ea1f08;
        }
        img {
            width: 700px;
            height: 400px;
        }
    }

    .pagination-list {
        margin-top: 30px;
        display: flex;
        justify-content: right;

        .pagination {
            ul {
                li {
                    .css-1scal0h-MuiPaginationItem-root {
                        font-size: 18px;
                        font-weight: 700;
                    }

                    button {
                        font-family: $mainFamily;
                        font-size: 17px;
                        font-weight: 700;
                        background-color: #fff;
                        margin: 0 10px;

                        .css-n8417t-MuiSvgIcon-root-MuiPaginationItem-icon {
                            width: 20px;
                            height: 20px;
                        }
                    }

                    .css-1jkhw7p-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
                        background-color: #e74c3c;
                        color: #fff;
                    }
                }
            }
        }
    }

    .accordion-date {
        margin: 0 0 20px 0;
        box-shadow: 1px 1px 8px #9c9c9c;
        border-radius: 5px;
        // width: 580px;

        .typography {
            font-size: 16px;
            font-family: $mainFamily;
            font-weight: 600;
        }
        .accordion-summary {
            .typography {
                padding-top: 7px;
                padding-bottom: 7px;
                font-size: 17.5px;
                font-weight: 700;
                color: #ea1f08;
                display: flex;
                align-items: center;

                // .typography-tour {
                //     width: 60%;
                // }

                .list-guide {
                    position: absolute;
                    right: 10px;
                }

                span {
                    font-size: 16.5px;
                    padding-right: 7px;
                    font-weight: 700;
                    color: #525252;
                }
            }
        }
        .accordion-details {
            padding: 0 0 0 20px;
        }
    }

    .accordion-tour {
        border: 0px solid #0784be;
        border-radius: 5px;
        padding: 0 0 0 0;
        margin: 0 0 0 0;

        .typography {
            font-size: 16px;
            font-family: $mainFamily;
            font-weight: 600;
        }
        .accordion-summary {
            .typography {
                font-size: 16.5px;
                font-weight: 700;
                color: #057cb3;
            }
        }
        .accordion-details {
            padding: 10px 0 10px 20px;
            display: flex;
            justify-content: space-between;

            .details-tour {
                border-collapse: collapse;

                tbody {
                    tr {
                        td {
                            padding: 4px 0 4px 20px;
                            font-family: $mainFamily;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        .label {
                            font-weight: 600;
                            color: #0470a2;
                        }
                        .content {
                            padding-left: 10px;
                        }
                    }
                }
            }

            img {
                margin-right: 10px;
                width: 150px;
                height: 90px;
                border-radius: 5px;
                box-shadow: 1px 1px 5px #9c9c9c;
            }
        }
    }
}

.guides-submit {
    padding-top: 90px;
    padding-left: 13%;
    padding-right: 13%;
    height: 100%;
    background-image: url("https://res.cloudinary.com/phtuandev/image/upload/v1657607532/GoTravel/background_hahalolo_euqfgv.svg");
    background-size: cover;

    .guides-submit-details {
        // background-color: rgba(255, 255, 255, 0.5);
        // box-shadow: 1px 1px 10px #9c9c9c;
        border-radius: 10px;
        padding: 20px 20px;

        .accordion {
            border-radius: 7px;

            .typography {
                font-size: 16px;
                font-family: $mainFamily;
                font-weight: 600;
            }
        }

        .details-tour {
            border: 1px solid #e8e8e8;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            padding: 7px 0 20px 0;

            .accordionSummary {
                .typography {
                    display: flex;
                    justify-content: space-between;
                    font-weight: 700;

                    .name-tour {
                        color: #0470a2;
                        font-size: 18px;
                    }
                    .departure {
                        position: absolute;
                        right: 50px;
                        span {
                            color: #ea1f08;
                        }
                    }
                }
            }

            .accordionDetails {
                padding-bottom: 0;

                .typography {
                    text-align: justify;
                    padding-left: 40px;
                    padding-right: 40px;

                    .table-infor {
                        display: flex;

                        .table-item {
                            width: 500px;

                            table {
                                tr {
                                    td {
                                        padding-top: 5px;
                                        padding-bottom: 5px;
                                    }
                                }

                                .label {
                                    padding: 0 0;
                                    color: #016796;
                                }

                                .content {
                                    padding-left: 30px;
                                }
                            }
                        }
                    }

                    .schedule-tour {
                        margin-top: 30px;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .accordion {
                            width: 480px;
                            padding: 0px 0px;
                            box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

                            .accordionSummary {
                                .typography {
                                    padding: 0px 0px;
                                    color: #ea1f08;
                                    font-weight: 700;
                                }
                            }

                            .accordionDetails {
                                padding-top: 0;
                                padding-bottom: 10px;
                                .typography {
                                    padding-left: 10px;
                                    font-size: 15px;
                                    table {
                                        tbody {
                                            tr {
                                                td {
                                                    font-size: 14px;
                                                    text-align: left;
                                                    padding: 5px 0;
                                                }

                                                .label {
                                                    color: #016796;
                                                    width: 100px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .label-list {
        margin-top: 40px;
        margin-bottom: 20px;
        font-family: $mainFamily;
        font-size: 19px;
        font-weight: 800;
        color: #ea1f08;
    }

    .guides-list {
        border-radius: 7px;
        margin-top: 0px;
        padding: 0 0px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .accordion {
            width: 530px;
            margin: 0px 0;
            border: 1px solid #dbdbdb;
            box-shadow: 1px 1px 6px #e2e2e2;

            .accordion-summary {
                .css-o4b71y-MuiAccordionSummary-content {
                    margin: 8px 0;
                }
                .typography {
                    display: flex;
                    align-items: center;
                    font-family: $mainFamily;
                    font-weight: 700;
                    color: #016796;

                    span {
                        margin-left: 20px;
                        font-size: 17px;
                    }
                }
            }

            .accordion-details {
                .typography {
                    font-family: $mainFamily;
                    font-size: 15px;

                    ul {
                        padding: 0 0;
                        list-style-type: none;

                        li {
                            display: flex;
                            margin: 5px 0;

                            .label {
                                margin-right: 5px;
                                color: #016796;
                                font-size: 14.5px;
                                font-weight: 700;
                            }

                            .content {
                                font-size: 15px;
                            }
                        }
                    }
                }
                .delete-button {
                    position: absolute;
                    bottom: 0;
                    right: 0;

                    .icon {
                        color: #ea1f08;
                        font-size: 22px;
                    }
                }
            }
        }
    }
}
